body {
    margin: 0;
    background: #26439B;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    background: #2F51B9;
    border-radius: 10px;
    border: solid white 1px;
    padding: 2em 0;
    margin-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2em;
    color: #c4eafc;
}

.todo-div {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.new-todo-div {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.buttons {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    cursor: pointer;
    padding: .5em 1em;
    border: none;
    color: #1a3483;
    background: #ffba5b;
    border-radius: 5px;
    margin-top: 2em;
    font-weight: bold;
}

.input-field {
    width: 80%;
    box-sizing: border-box;
    background: #395cc5;
    border-radius: 5px;
    padding: .5em 1em;
    color: #92DBFD;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.new-input-field {
    width: 80%;
}

.new-input-field input {
    box-sizing: border-box;
    width: 100%;
    background: #4f74e6;
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    color: #92DBFD;
    font-weight: bold;
    text-transform: uppercase;
}

.not-checked-task {
    box-sizing: border-box;
    cursor: pointer;
    background: #56BA88;
    padding: .2em .5em;
    padding-top: .4em;
    border-radius: 5px;
}

.not-checked-task:hover {
    background: #4db17f;
    filter: opacity(.8);
}

.not-checked-task i {}

.checked-task {
    box-sizing: border-box;
    cursor: pointer;
    background: #56BA88;
    filter: opacity(.6);
    padding: .2em .5em;
    padding-top: .4em;
    border-radius: 5px;
}

.checked-task:hover {
    background: #4db17f;
    filter: opacity(.8);
}

.checked-task i {
    visibility: hidden;
}

.xbutton {
    cursor: pointer;
    box-sizing: border-box;
    background: #e65e67;
    filter: opacity(.9);
    padding: .2em .5em;
    padding-top: .4em;
    border-radius: 5px;
}

.xbutton:hover {
    filter: opacity(1);
}

.okbutton {
    cursor: pointer;
    box-sizing: border-box;
    background: #56BA88;
    padding: .3em 1em;
    padding-top: .35em;
    border-radius: 5px;
    font-weight: bold;
}

.add-todo-button {
    display: flex;
    justify-content: center;
}

.add-todo-button button {
    cursor: pointer;
    background: none;
    border: solid #D696B6 1px;
    border-radius: 5px;
    padding: .5em 2em;
    margin-top: 1em;
    color: #D696B6;
    font-weight: bold;
}